main{
    padding: 1em;
    margin-top: 5em
}

.navbar{
    border-bottom: 4px pink solid
}

.sinopsis{
    text-align:justify;
    padding:1em;
}

.input-mayusculas {
  text-transform: uppercase;
}

.contenerdor{
    background-color: rgb(235, 209, 209);
    border-radius: 8px;
}

.resaltado{
    color: rgb(209, 52, 78);
    font-weight: 600;
}

.resaltado:hover{
    font-weight: 900;   
    text-decoration: underline wavy pink !important;
}

