body{
    margin-top: 3em;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    
}

main{
    padding: 1em;
}

.main-logueado{
        /* margin-top: 116px; */
        margin-top: 70px;
}

.navbar{
    border-bottom: 4px pink solid;
    margin-bottom: 6em;
}

.sinopsis{
    text-align:justify;
    padding:1em;
}

.input-mayusculas {
  text-transform: uppercase;
}

.contenerdor{
    background-color: rgb(235, 209, 209);
    border-radius: 8px;
}

.resaltado{
    color: rgb(209, 52, 78);
    font-weight: 600;
}

.resaltado:hover{
    font-weight: 900;   
    text-decoration: underline wavy pink !important;
}


.libroReservado-card{
    margin-bottom:0.5em;
}

.btn-primary{
    background: pink;
    color:rgb(78, 1, 1);
    border: 0;
    font-weight: 500;
}

.btn-primary:hover{
    background: rgb(78, 1, 1);
    color: pink;
    border: 0;
    font-weight: 500;
}

#userName{
    text-transform: capitalize;
    padding-right: 1em;
}

#buscador{
    margin-left: 0.8em;
    margin-right: 0.8em;
    margin-top: 0.5em;
    margin-bottom: 0.2em;
}



.offcanvas-footer {
  background-color: #f8f9fa;
  text-align: center;
}

.botones-paginacion{
    background-color: pink;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
}

.flecha{
    border-radius: 100%;
}

.flecha:disabled{
    background-color:pink;
    color:  rgba(179, 21, 21, 0.582);
}


.flecha:active{
    background-color: rgb(179, 21, 21) !important;
    color: white !important;
}
/* .card-img, .card-img-bottom, .card-img-top{
    width: 100%;
    object-fit: cover;
    min-height: 300px;
    max-height: 500px;
    object-position: top;
} */